<template>
    <div class="popup_info">
        <div class="popup_info_wrap">
            <div class="popup_info_text">
                <p v-html="text"></p>
            </div>
            <button @click="close" class="btn btn_black"><span>Сlose</span></button>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'Info',
        props: ['close', 'text'],
    }

</script>
<style lang="scss">
    @import "./src/assets/sass/index";

    .popup_info {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, .6);
        display: flex;
        justify-content: center;
        align-items: center;

        .popup_info_wrap {
            background-color: #fff;
            width: 100%;
            max-width: rem(500px);
            padding: rem(40px) rem(60px) rem(30px);
        }

        .popup_info_text {
            margin-bottom: rem(40px);
            text-align: center;

            span {
                font-weight: 700;
                display: block;
                color: #c70000;
            }
        }

        .btn {
            height: rem(40px);
            max-width: rem(160px);
            margin: auto;

            &.btn_black {
                &:hover {
                    background-color: $colorGreen;
                }
            }
        }
    }
</style>