<template>
    <section id="app" class="contacts">
        <Contacts/>
        <Map/>
        <Footer/>
    </section>
</template>

<script>
    import Contacts from '../components/contacts';
    import Map from '../components/map';
    import Footer from '../components/footer';

    export default {
        name: 'Home',
        components: {
            Contacts,
            Map,
            Footer
        }
    }
</script>

<style>

</style>
