<template>
    <footer class="footer">
        <div class="container">
            <form class="form" @submit.prevent="validateBeforeSubmit">
                <h5 class="title_block">Contact Us</h5>
                <div :class="{'input':true,'focus':name.length>0 || nameFocus}">
                    <p class="input_placeholder">Name</p>
                    <input name="name"
                           @focus="focus('nameFocus')" @blur="focus('nameFocus')"
                           v-model="name"
                           v-validate="'required|alpha'"
                           :class="{'input_value': true, 'is_danger': errors.has('name') }"
                           type="text">
                    <span v-show="errors.has('name')" class="danger">{{ errors.first('name') }}</span>
                </div>
                <div :class="{'input':true,'focus':phone.length>0 || phoneFocus}">
                    <p class="input_placeholder">Phone</p>
                    <input name="phone"
                           @focus="focus('phoneFocus')" @blur="focus('phoneFocus')"
                           v-model="phone"
                           v-validate="'required|numeric'"
                           :class="{'input_value': true, 'is_danger': errors.has('phone') }" type="text">
                    <span v-show="errors.has('phone')" class="danger">{{ errors.first('phone') }}</span>
                </div>
                <div :class="{'input':true,'focus':email.length>0 || emailFocus}">
                    <p class="input_placeholder">E-mail</p>
                    <input name="email"
                           @focus="focus('emailFocus')" @blur="focus('emailFocus')"
                           v-model="email"
                           v-validate="'required|email'"
                           :class="{'input_value': true, 'is_danger': errors.has('email') }" type="text">
                    <span v-show="errors.has('email')" class="danger">{{ errors.first('email') }}</span>
                </div>
                <label class="checkbox">
                    <input type="checkbox" checked="checked" @change="changeConsent"/>
                    <div class="checkbox_text">I agree the processing of personal data</div>
                </label>
                <button type="submit" class="btn btn_black" :class="{'covert':consent}"><span>Get in touch</span>
                </button>
            </form>
            <div class="footer_text">
                <p>Please tell us more about your request and give us info about your company and country</p>
            </div>
        </div>
        <Info v-show="displayInfo" :close="closeInfo" :text="textInfo"/>
    </footer>
</template>
<script>
    import Vue from 'vue';
    import VeeValidate from 'vee-validate';
    import Info from './../shared/info';
    import axios from 'axios';

    Vue.use(VeeValidate);

    export default {
        name: 'Footer',
        components: {
            Info,
        },
        data() {
            return {
                name: '',
                phone: '',
                email: '',
                displayInfo: false,
                textInfo: '',
                timeout: null,
                nameFocus: null,
                phoneFocus: null,
                emailFocus: null,
                consent: false
            }
        },
        methods: {
            focus(type) {
                this[`${type}`] = !this[`${type}`];
            },
            changeConsent(elem) {
                this.consent = !elem.target.checked;
            },
            closeInfo() {
                this.displayInfo = false;
            },
            afterSend(boll, text) {
                clearTimeout(this.timeout);
                this.displayInfo = true;
                this.consent = false;
                this.textInfo = text;
                this.timeout = setTimeout(() => this.displayInfo = this.consent = false, 3000);
                if (boll) {
                    this.name = this.phone = this.email = '';
                    this.nameFocus = this.phoneFocus = this.emailFocus = false;
                }
            },
            validateBeforeSubmit(event) {
                event.preventDefault();
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.consent = true;
                        axios.post('http://httpbin.org/post', {
                            name: this.name,
                            phone: this.phone,
                            email: this.email
                        }).then((response) => {
                            this.afterSend(true, 'Your data has been sent successfully.');
                            console.log(response);
                        }).catch((error) => {
                            this.afterSend(false, `An error has occurred, perhaps this will help you:<span>${error}</span>`);
                        });
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    @import "./src/assets/sass/index";

    .consent {
        display: flex;
        margin-bottom: rem(30px);
        align-items: center;
        color: #272e3f;
        font-size: rem(18px);
        position: relative;
        z-index: 2;

        span.consent_text {
            margin-left: rem(20px);

            a {
                text-decoration: underline;
                color: $colorGreen;
            }
        }
    }

    .footer {
        padding: rem(95px) 0 rem(95px);
        background-color: $colorGreen;
        background-image: url("../../assets/images/pattern.png");

        .container {
            display: flex;
            align-items: flex-start;
        }
    }

    .footer_text {
        color: $colorDark;
    }

    .form {
        width: 100%;
        max-width: rem(541px);
        margin-right: rem(70px);

        .title_block {
            margin-bottom: rem(23px);
        }

        .input {
            margin-bottom: rem(5px);
        }

        .btn {
            margin-top: rem(47px);
        }

        .checkbox {
            margin-top: rem(18px);
        }
    }

    .footer_text {
        padding-top: rem(89px);
    }

    .input {
        position: relative;

        .input_placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $colorDark;
            font: 300 rem(18px)/1 $fontSuisse;
            transition: color $time;
        }

        .input_value {
            width: 100%;
            padding-left: rem(98px);
            border-radius: 0;
            border: none;
            background-color: transparent;
            height: rem(55px);
            font: 300 rem(18px)/1 $fontSuisse;
            color: #fff;
            border-bottom: solid rem(1px) #040707;
            transition: border $time;

            &.is_danger {
                border-color: #871c03;
            }
        }

        .danger {
            position: absolute;
            top: 100%;
            left: 0;
            color: #871c03;
            line-height: 1;
        }

        &.focus {
            .input_placeholder {
                color: #fff;
            }

            .input_value {
                border-color: #fff;

                &.is_danger {
                    border-color: #871c03;
                }
            }
        }
    }

    @media only screen and (max-width: 1150px) {
        .form {
            margin-right: 20px;
        }
    }

    @media only screen and (max-width: 960px) {
        .footer {
            padding-top: 40px;
            padding-bottom: 40px;

            .container {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
        .footer_text {
            padding-top: 0;
            margin-bottom: 30px;
            text-align: center;
        }
        .form {
            margin-right: 0;

            .title_block {
                text-align: center;
            }

            .btn {
                margin: 30px auto 0;
            }
        }
    }

    @media only screen and (max-width: 580px) {

        .form {
            .btn {
                max-width: 160px;
                height: 50px;
            }
        }
        .input {
            .danger {
                font-size: 13px;
            }
        }
    }
</style>