<template>
    <Home></Home>
</template>

<script>
    import Home from './pages/Home.vue'

    export default {
        name: 'App',
        components: {
            Home
        }
    }
</script>

<style lang="scss">
    @import "./src/assets/sass/fonts";
    @import "./src/assets/sass/reset";
    @import "./src/assets/sass/index";

    body {
        font: 300 rem(15px)/1.85 $fontSuisse;
        color: $colorBlack;
    }

    .container {
        width: 100%;
        max-width: rem(1161px);
        padding: 0 rem(4px);
        margin: auto;
    }

    .title_section {
        color: $colorBlack;
        font-size: rem(50px);
        line-height: .96;
    }

    .title_block {
        color: #fff;
        font-size: rem(34px);
        line-height: 1.41;

        span, b {
            color: $colorGreen;
        }
    }

    .btn {
        width: 100%;
        max-width: rem(279px);
        height: rem(83px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font: 400 rem(11px)/1 $fontSuisseSemiBold;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transform: scale(1);
        transition: $time;
        opacity: 1;
        letter-spacing: rem(1.54px);

        &:active {
            transform: scale(.9);
        }

        &.btn_black {
            color: #fff;
            background-color: #262626;

            &:hover {
                color: #262626;
                background-color: #fff;
            }
        }

        &.covert {
            pointer-events: none;
            background-color: #ccc;
            opacity: .9;
        }
    }

    .checkbox {
        display: inline-block;

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .checkbox_text:after {
                opacity: 1;
            }
        }
    }

    .checkbox_text {
        position: relative;
        cursor: pointer;
        padding-left: rem(34px);
        font: 300 rem(18px)/1.3 $fontSuisse;
        color: #ffffff;

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            top: rem(3px);
            left: 0;
            width: rem(15px);
            height: rem(15px);
            border-radius: 0;
            background: #fff;
            transition: $time;
        }

        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            top: rem(5px);
            left: rem(1px);
            width: rem(13px);
            height: rem(13px);
            border-radius: 0;
            transition: $time;
            background-image: url("./assets/images/ch.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0;
        }
    }

    @media only screen and (min-width: 1900px) {
        html {
            font-size: .83334vw;
        }
    }

    @media only screen and (orientation: portrait) {
        html {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 960px) {
        .checkbox_text {
            font-size: 16px;
        }
    }
</style>
