<template>
    <div class="map">
        <div class="container">
            <div class="map_data">
                <h4 class="title_block">Our Offices</h4>
                <div class="map_data_wrap">
                    <div class="city_list">
                        <p class="city_btn" v-for="item in cities"
                           :key="item.city"
                           :class="{ active : activeCities.name === item.city }"
                           @click="changeCity(item)">
                            {{item.city}}
                        </p>
                    </div>
                    <p class="map_data_name">{{activeCities.title}}</p>
                    <address class="map_data_address" v-html="activeCities.address"></address>
                </div>
            </div>
            <div class="google_map">
                <GmapMap v-if="position!==null" :center="position"
                         map-type-id="terrain"
                         style="width: 100%; height: 31.5rem"
                         :options="mapStyle">
                    <GmapMarker
                            :position="position"
                            :icon="{ url: require('../../assets/images/map.png')}"
                            :clickable="true"
                            :draggable="true"/>
                </GmapMap>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps'

    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyDzrDLaTqQRrY8xss7UUDtLQxJ7S2fajj4',
            libraries: 'drawing',
            language: 'en',
        },
    });

    export default {
        name: 'Map',
        data() {
            return {
                position: null,
                cities: [],
                marker: null,
                activeCities: {
                    name: '',
                    title: '',
                    address: ''
                },
                mapStyle: {
                    zoom: 9,
                    styles: [],
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false,
                    disableDefaultUi: false
                }
            }
        },

        mounted() {

            axios.get('/data/googleMapStyle.json').then(response => {
                this.mapStyle.styles = response.data
            });

            axios.get('/data/cities.json').then(response => {
                this.cities = response.data;
                if (this.cities) {
                    this.changeCity(this.cities[0]);
                }
            });
        },
        methods: {
            changeCity(object) {
                this.position = {lat: +object.geo.lat, lng: +object.geo.lng};
                this.activeCities = {name: object.city, title: object.title, address: object.address};
            }
        }
    }
</script>
<style lang="scss">
    @import "./src/assets/sass/index";

    .map {
        background-color: #262626;
        background-image: url("../../assets/images/map-fone.png");

        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }

    .map_data {
        width: 100%;
        /*max-width: 650px;*/
        padding: rem(95px) rem(40px) rem(30px) 0;
        flex: 1 1 45%;
        color: #fff;

        .title_block {
            margin-bottom: rem(31px);
        }

        .city_list {
            display: flex;
            font-size: rem(11px);
            text-transform: uppercase;
            color: #fff;
            font-family: $fontSuisseSemiBold;
            margin-bottom: rem(45px);
        }

        .map_data_name {
            font-size: rem(26px);
            margin-bottom: rem(27px);
            line-height: 0.77;
            letter-spacing: rem(1.18px);
        }

        .map_data_address {
            font-size: rem(11px);
            line-height: 1.82;
        }

        .city_btn {
            margin-right: rem(30px);
            cursor: pointer;
            transition: color $time;
            letter-spacing: rem(1.54px);

            &:hover, &.active {
                color: $colorGreen;
            }
        }
    }

    .google_map {
        width: 100%;
        max-width: rem(633px);
        flex: 1 1 rem(633px);
        background-color: #262626;
        margin-right: rem(-60px);
    }

    @media only screen and (max-width: 1290px) {
        .google_map {
            margin-right: 0;
        }
    }

    @media only screen and (max-width: 1150px) {
        .map_data {
            padding-right: 0;

            .map_data_address {
                br {
                    display: none;
                }
            }
        }
        .google_map {
            max-width: 100%;

            .vue-map-container {
                height: 380px !important;
            }
        }
    }

    @media only screen and (max-width: 960px) {
        .map_data {
            padding-top: 40px;

            .title_block {
                text-align: center;
            }

            .city_list {
                justify-content: center;

                .city_btn {
                    margin: 0 10px;
                }
            }

            .map_data_name, .map_data_address {
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 580px) {
        .map_data .map_data_name {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 5px;
        }
        .map_data {
            .city_list {
                margin-bottom: 30px;

                .city_btn {
                    margin: 0 5px;
                }
            }
        }
    }

</style>