<template>
    <div class="contacts_inform">
        <div class="container">
            <h3 class="title_section">Contacts</h3>
            <div class="contacts_inform_content">
                <div class="contacts_office">
                    <h4 class="title_block"><span>GMS</span> Headquarters</h4>
                    <div class="contacts_office_wrap">
                        <div class="contacts_office_address">
                            <address class="office_address">
                                Global Message Services Ukraine LLC<br>
                                Bundesstrasse 5 | 3rd Floor<br>
                                6300 Zug<br>
                                Switzerland
                            </address>
                            <a class="phone_big" href="tel:+41415446200">+41 41 544 62 00</a>
                        </div>
                        <div class="list_phone">
                            <div class="list_phone_elem">
                                <p class="l_p_title">Email</p>
                                <a class="l_p_link" href="mailto:info@gms-worldwide.com">info@gms-worldwide.com</a>
                            </div>
                            <div class="list_phone_elem">
                                <p class="l_p_title">Send message</p>
                                <a class="l_p_link" href="viber://chat?number=+120345678910">Viber us</a>
                            </div>
                            <div class="list_phone_elem">
                                <p class="l_p_title">Send form</p>
                                <p class="l_p_link" @click="goToForm">Contact us</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts_support">
                    <h4 class="title_block">Technical support <span>24/7</span></h4>
                    <div class="contacts_support_text">
                        <p>GMS understands that it can be hard to follow all new technologies. We regularly provide for
                            all our clients educational trainings to make your operator`s business earn more and better
                            though our best practices.</p>
                    </div>
                    <a class="phone_big" href="tel:+41415446206">+41 41 544 62 06</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Contacts',
        props: {
            msg: String
        },
        methods: {
            goToForm() {
                window.scrollTo(0, document.body.scrollHeight);
            }
        }
    }
</script>
<style lang="scss">
    @import "./src/assets/sass/index";

    .contacts_inform {
        padding: rem(60px) 0 rem(95px);

        .title_block {
            color: $colorBlack;
            margin-bottom: rem(35px);
        }

        .title_section {
            margin-bottom: rem(45px);
        }
    }

    .contacts_inform_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .contacts_office, .contacts_support {
            flex: 1 1 40%;
        }

        .contacts_office {
            margin-right: rem(30px);
        }

        .contacts_support {
            width: 100%;
            max-width: rem(526px);
        }

        .contacts_support_text {
            margin-bottom: rem(23px);
        }
    }

    .contacts_office_wrap {
        display: flex;
    }

    .contacts_office_address {
        margin-right: rem(37px);

    }

    .office_address {
        margin-bottom: rem(31px);
    }

    .phone_big {
        font-size: rem(26px);
        line-height: 1.38;
        color: $colorGreen;
        transition: color $time;

        &:hover {
            color: $colorDark;
        }
    }

    .list_phone_elem {
        margin-bottom: rem(4px);

        .l_p_title {
            margin-bottom: rem(1px);
        }

        .l_p_link {
            text-transform: uppercase;
            color: $colorGreen;
            font: 400 rem(14px)/1.8 $fontSuisseSemiBold;
            transition: color $time;
            cursor: pointer;
            letter-spacing: rem(0.85px);

            &:hover {
                color: $colorDark;
            }
        }
    }

    @media only screen and (max-width: 1110px) {
        .contacts_inform_content {
            .contacts_office {
                margin-right: 10px;
            }
        }
    }

    @media only screen and (max-width: 960px) {
        .contacts_inform_content {
            flex-direction: column;

            .contacts_office {
                margin-right: 0;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .contacts_support_text {
                text-align: center;
            }

            .contacts_support {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .contacts_inform {
            padding-bottom: 40px;

            .title_block {
                margin-bottom: 20px;
                text-align: center;
            }

            .title_section {
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 580px) {
        .contacts_inform {
            padding-top: 40px;

            .title_section {
                margin-bottom: 30px;
            }
        }
        .contacts_office_address {
            margin-right: 0;
            margin-bottom: 20px;

            .office_address {
                margin-bottom: 10px;
            }
        }
        .contacts_office_wrap {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
</style>
