@font-face {
  font-family: 'Suisse Intl';
  src: url('assets/fonts/SuisseIntl.woff2') format('woff2'),
  url('assets/fonts/SuisseIntl.woff') format('woff'),
  url('assets/fonts/SuisseIntl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('assets/fonts/SuisseIntl-Light.woff2') format('woff2'),
  url('assets/fonts/SuisseIntl-Light.woff') format('woff'),
  url('assets/fonts/SuisseIntl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

;
@font-face {
  font-family: 'Suisse Intl - Semi Bold';
  src: url('assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
  url('assets/fonts/SuisseIntl-SemiBold.woff') format('woff'),
  url('assets/fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}