$one-rem:16px;
$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$colorBlack: #333;
$colorDark: #000;
$colorGreen: #3db565;

/*fonts*/
$fontSuisse: "Suisse Intl", sans-serif;
$fontSuisseSemiBold: "Suisse Intl - Semi Bold", sans-serif;

/*time*/
$time: .4s ease-out;
